@{
  Layout = "_Layout";
}

<div class="row">
    <div class="col">
      @if (User.Identity.IsAuthenticated)
      {
        <h3>Account Details</h3>
        <p><strong>Username: </strong>@Model.UserName</p>
        <p><strong>Name: </strong>@Model.FirstName @Model.LastName</p>
        <p><strong>Email: </strong>@Model.Email</p>
        <img src='@Url.Content("~/img/ProfilePictures/" + Model.ImageName)' class="rounded-circle" alt="Default profile image." height="200">

      }
      else
      {
        <h2>Account</h2>
        <p>@Html.ActionLink("Register", "Register")</p>
        <p>@Html.ActionLink("Login", "Login")</p>
      }
  </div>
</div>