@{
  Layout = "_Layout";
}

@model PierresMarket.Models.Flavor

<h2>Flavor Details</h2>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href='@Url.Action("Edit", "Flavors", new { id = Model.FlavorId})'><button class="btn btn-primary">Edit Flavor</button></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='@Url.Action("Delete", "Flavors", new { id = Model.FlavorId})'><button class="btn btn-primary">Delete Flavor</button></a>
  </li>
</ul>

<div class="col">
  <div class="card border-dark mb-3">
    <div class="card-body">
      <h4 class="card-title">@Model.Name</h4>
      <hr>
      <h6><strong>@Model.Name Treats</strong></h6>
      @if (Model.JoinEntities.Count == 0)
      {
        <p>This flavor doesnt have any treats connected to it yet.</p>
      }
      else
      {
        @if (User.Identity.IsAuthenticated)
        {
          <ul>
            @foreach (var join in Model.JoinEntities)
            {
              <!-- Button trigger modal -->
              <p>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#treat_@(join.FlavorTreatId)">
                  Delete
                </button>
                - @Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id= join.Treat.TreatId })
              </p>
              <!-- Modal -->
              <div class="modal fade" id="treat_@(join.FlavorTreatId)" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="treat_@(join.FlavorTreatId)Label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="treat_@(join.FlavorTreatId)Label">Delete Treat: @join.Treat.Name</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete @join.Treat.Name from the @Model.Name tag?</p>
                      <p>If you want to re-add this tag to @join.Treat.Name you will need to reassign it manually.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      @using (Html.BeginForm("DeleteTreat", "Flavors"))
                      {
                        @Html.Hidden("joinId", @join.FlavorTreatId)
                        <input type="submit" value="Delete" class="btn btn-danger" />
                      }
                    </div>
                  </div>
                </div>
              </div>
            }
          </ul>
        }
        else
        {
          <ul>
            @foreach (var join in Model.JoinEntities)
            {
              <li>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id= join.Treat.TreatId })</li>
            }
          </ul>
        }
      }
      @if (User.Identity.IsAuthenticated)
      {
        @using (Html.BeginForm("AddTreat", "Flavors"))
        {
          @Html.HiddenFor(model => model.FlavorId)

          <div class="mb-1 col-md-5">
            @Html.Label("Add treat")
            @Html.DropDownList("TreatId", ViewBag.TreatId, "Add selection", new { @class = "form-control"})
          </div>

          <input type="submit" value="Add treat" class="btn btn-primary col-md-5" />
        }
      }
    </div>
  </div>
</div>