@{
  string pageName = ViewContext.RouteData.Values["controller"].ToString();
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a href='@Url.Action("Index", "Home")' class='navbar-brand @(pageName == "Home" ? "active" : "")'>
            <img src="~/img/bakery-icon.png" alt="" width="52" height="30" class="d-inline-block align-text-top">
            Pierre's Market
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href='@Url.Action("Index", "Home")' class='nav-link @(pageName == "Home" ? "active" : "")'>Home</a>
              </li>
              <li class="nav-item">
                <a href='@Url.Action("Index", "Treats")' class='nav-link @(pageName == "Treats" ? "active" : "")'>Treats</a>
              </li>
              <li class="nav-item">
                <a href='@Url.Action("Index", "Flavors")' class='nav-link @(pageName == "Flavors" ? "active" : "")'>Flavors</a>
              </li>
              <li class="nav-item dropdown">
                @if(User.Identity.IsAuthenticated)
                {
                  <a class='nav-link dropdown-toggle @(pageName == "Account" ? "active" : "")' data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">@User.Identity.Name</a>
                }
                else
                {
                  <a class='nav-link dropdown-toggle @(pageName == "Account" ? "active" : "")' data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Account</a>
                }
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  @if (!User.Identity.IsAuthenticated)
                  {
                    <li><a class="dropdown-item" href='@Url.Action("Register", "Account")'>Register account</a></li>
                    <li><a class="dropdown-item" href='@Url.Action("Login", "Account")'>Login</a></li>
                  }
                  else
                  {
                    <li><a class="dropdown-item" href='@Url.Action("Index", "Account")'>My account</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account"))
                        {
                          <button type="submit" class="btn btn-block dropdown-item">Log out</button>
                        }
                    </li>
                  }
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <hr>
      @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>