@{
  Layout = "_Layout";
}

@model PierresMarket.Models.Treat

<h2>Treat Details</h2>

<div class="col">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">@Model.Name</h5>
      <hr>
      <h6>Price</h6>
      <p class="card-text">$@Model.Price.00</p>
      <h6>Description</h6>
      <p class="card-text">@Model.Description</p>
      <h6>Flavors</h6>
      @if (Model.JoinEntities.Count == 0)
      {
        <p>This treat doesnt have any flavor tags connected to it yet.</p>
      }
      else
      {
        @if (User.Identity.IsAuthenticated)
        {
          <ul>
            @foreach (var join in Model.JoinEntities)
            {
              @using (Html.BeginForm("DeleteFlavor", "Treats"))
              {
                @Html.Hidden("joinId", @join.FlavorTreatId)
                <p class="card-text">
                  <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                  - @Html.ActionLink($"{join.Flavor.Name}", "Details", "Flavors", new { id= join.Flavor.FlavorId })
                </p>
              }
            }
          </ul>
        }
        else
        {
          <ul>
            @foreach (var join in Model.JoinEntities)
            {
              @Html.ActionLink($"{join.Flavor.Name}", "Details", "Flavors", new { id= join.Flavor.FlavorId })
            }
          </ul>
        }
      }
      @if (User.Identity.IsAuthenticated)
      {
        @using (Html.BeginForm("AddFlavor", "Treats"))
        {
          @Html.HiddenFor(model => model.TreatId)

          <div class="mb-3">
            @Html.Label("Add flavor tag")
            @Html.DropDownList("FlavorId", ViewBag.FlavorId, "Add selection", new { @class = "form-control"})
          </div>

          <input type="submit" value="Add flavor" class="btn btn-success" />
        }
      }
    </div>
  </div>
</div>

<p>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId})</p>
<p>@Html.ActionLink("Delete treat", "Delete", new { id = Model.TreatId})</p>